<div class="rpgthru-iframe">
    <div class="iframe-header">
        <h2>DriveThruRPG</h2>
        <p>Browse and download your digital RPG books</p>
    </div>
    
    <div class="iframe-container">
        <iframe 
            src="{{drivethruUrl}}" 
            width="100%" 
            height="100%" 
            frameborder="0"
            allowfullscreen>
            <p>Your browser does not support iframes. 
               <a href="{{drivethruUrl}}" target="_blank">Click here to open DriveThruRPG in a new tab</a>
            </p>
        </iframe>
    </div>
</div> 