<!-- Active Effects Section -->
<div class="active-effects-section">
    <h4>
        <i class="fas fa-magic"></i> Status Effects
        {{#if effects.length}}
        <span class="effects-count-badge">{{effects.length}}</span>
        {{/if}}
    </h4>
    
    {{#if effects.length}}
    <div class="effects-preview">
        {{#each effects}}
        <div class="effect-preview-item {{#unless this.canDelete}}st-effect-locked{{/unless}}" data-effect-id="{{this.id}}" title="{{this.name}}{{#unless this.canDelete}} (ST Effect - Cannot Edit){{/unless}}">
            <img src="{{this.icon}}" alt="{{this.name}}" class="effect-icon-small" onerror="this.src='icons/svg/aura.svg'" />
            <span class="effect-name-short">{{this.name}}</span>
            {{#if this.isPlayerCreated}}
            <span class="effect-type-indicator player" title="Player Created">P</span>
            {{else}}
            <span class="effect-type-indicator st" title="Storyteller Created">ST</span>
            {{/if}}
            {{#if this.canDelete}}
            <button type="button" class="delete-effect-preview-item" data-effect-id="{{this.id}}" title="Delete Effect"><i class="fas fa-trash"></i></button>
            {{/if}}
        </div>
        {{/each}}
    </div>
    {{else}}
    <div class="effects-empty">
        <p>No active effects</p>
    </div>
    {{/if}}
    
    <div class="effects-controls">
        <button type="button" class="add-effect-btn" title="Add New Effect">+</button>
    </div>
</div>

