{{#if actor.system.rollTemplates.length}}
<div class="roll-templates-section">
    <h4>Quick Rolls</h4>
    <div class="template-list">
        {{#each actor.system.rollTemplates as |template|}}
        <div class="roll-template-item">
            <button type="button" class="execute-template" data-template-id="{{template.id}}" title="{{template.name}} (Difficulty {{template.difficulty}})">
                <i class="fas fa-dice-d10"></i> {{template.name}}
            </button>
            <a class="delete-template" data-template-id="{{template.id}}" title="Delete template">
                <i class="fas fa-trash"></i>
            </a>
        </div>
        {{/each}}
    </div>
</div>
{{/if}}

