<div class="rulespedia-main">
    <div class="rulespedia-header">
        <h1>Rulespedia</h1>
        <div class="view-tabs">
            <button type="button" class="tab-btn active" data-view="search">
                <i class="fas fa-search"></i>
                Search
            </button>
            <button type="button" class="tab-btn" data-view="import">
                <i class="fas fa-upload"></i>
                Import
            </button>
        </div>
    </div>
    
    <div class="rulespedia-content">
        <div id="searchView" class="view-content active">
            <!-- Search view content will be inserted here -->
        </div>
        <div id="importView" class="view-content">
            <!-- Import view content will be inserted here -->
        </div>
    </div>
</div> 