<!-- Construct Background Template -->
<div class="bg-template construct-template">
    <div class="template-field">
        <label>{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.Location'}}</label>
        <input type="text" 
               name="system.backgroundsExpanded.{{index}}.templateData.location" 
               value="{{data.location}}" 
               placeholder="{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.LocationPlaceholder'}}" 
               class="template-input" />
    </div>
    
    <div class="template-field-row">
        <div class="template-field">
            <label>{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.Size'}}</label>
            <input type="number" 
                   name="system.backgroundsExpanded.{{index}}.templateData.size" 
                   value="{{data.size}}" 
                   placeholder="0" 
                   class="template-input-number" />
        </div>
        
        <div class="template-field">
            <label>{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.SecurityLevel'}}</label>
            <input type="number" 
                   name="system.backgroundsExpanded.{{index}}.templateData.securityLevel" 
                   value="{{data.securityLevel}}" 
                   min="1" 
                   max="10" 
                   placeholder="5" 
                   class="template-input-number" />
        </div>
    </div>
    
    <div class="template-field-row">
        <div class="template-field">
            <label>{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.SecuritySystems'}}</label>
            <textarea name="system.backgroundsExpanded.{{index}}.templateData.securitySystems" 
                      placeholder="{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.SecuritySystemsPlaceholder'}}"
                      class="template-textarea">{{data.securitySystems}}</textarea>
        </div>
        
        <div class="template-field">
            <label>{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.EquipmentAvailable'}}</label>
            <textarea name="system.backgroundsExpanded.{{index}}.templateData.equipmentAvailable" 
                      placeholder="{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.EquipmentAvailablePlaceholder'}}"
                      class="template-textarea">{{data.equipmentAvailable}}</textarea>
        </div>
    </div>
    
    <div class="template-field">
        <label>{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.Facilities'}}</label>
        <textarea name="system.backgroundsExpanded.{{index}}.templateData.facilities" 
                  placeholder="{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.FacilitiesPlaceholder'}}"
                  class="template-textarea">{{data.facilities}}</textarea>
    </div>
</div>
