<!-- Device/Wonder Background Template (Unified) -->
<div class="bg-template device-template">
    <div class="template-field">
        <label>{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.DeviceName'}}</label>
        <input type="text" 
               name="system.backgroundsExpanded.{{index}}.templateData.name" 
               value="{{data.name}}" 
               placeholder="{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.DeviceNamePlaceholder'}}" 
               class="template-input" />
    </div>
    
    <div class="template-field-row-thirds">
        <div class="template-field">
            <label>{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.Arete'}}</label>
            <input type="number" 
                   name="system.backgroundsExpanded.{{index}}.templateData.arete" 
                   value="{{data.arete}}" 
                   min="0" 
                   max="10" 
                   placeholder="0" 
                   class="template-input-number-tiny" />
        </div>
        
        {{#if data.paradoxType}}
        <!-- Wonder mode: Paradox Type + Value -->
        <div class="template-field">
            <label>{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.ParadoxType'}}</label>
            <select name="system.backgroundsExpanded.{{index}}.templateData.paradoxType" 
                    class="template-select">
                <option value="none" {{#eq data.paradoxType "none"}}selected{{/eq}}>{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.ParadoxTypeNone'}}</option>
                <option value="permanent" {{#eq data.paradoxType "permanent"}}selected{{/eq}}>{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.ParadoxTypePermanent'}}</option>
                <option value="perUse" {{#eq data.paradoxType "perUse"}}selected{{/eq}}>{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.ParadoxTypePerUse'}}</option>
            </select>
        </div>
        <div class="template-field">
            <label>{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.ParadoxValue'}}</label>
            <input type="number" 
                   name="system.backgroundsExpanded.{{index}}.templateData.paradoxValue" 
                   value="{{data.paradoxValue}}" 
                   min="0" 
                   placeholder="0" 
                   class="template-input-number-tiny" />
        </div>
        {{else}}
        <!-- Device mode: Paradox Risk + Quintessence -->
        <div class="template-field">
            <label>{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.ParadoxRisk'}}</label>
            <input type="number" 
                   name="system.backgroundsExpanded.{{index}}.templateData.paradoxRisk" 
                   value="{{data.paradoxRisk}}" 
                   min="0" 
                   placeholder="0" 
                   class="template-input-number-tiny" />
        </div>
        <div class="template-field">
            <label>{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.Quintessence'}}</label>
            <input type="number" 
                   name="system.backgroundsExpanded.{{index}}.templateData.quintessence" 
                   value="{{data.quintessence}}" 
                   min="0" 
                   placeholder="0" 
                   class="template-input-number-tiny" />
        </div>
        {{/if}}
    </div>
    
    {{#if data.paradoxType}}
    <!-- Wonder mode: Quintessence Storage + Per Use -->
    <div class="template-field-row">
        <div class="template-field">
            <label>{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.QuintessenceStorage'}}</label>
            <input type="number" 
                   name="system.backgroundsExpanded.{{index}}.templateData.quintessenceStorage" 
                   value="{{data.quintessenceStorage}}" 
                   min="0" 
                   placeholder="0" 
                   class="template-input-number-tiny" />
        </div>
        
        <div class="template-field">
            <label>{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.QuintessencePerUse'}}</label>
            <input type="number" 
                   name="system.backgroundsExpanded.{{index}}.templateData.quintessenceBurnedPerUse" 
                   value="{{data.quintessenceBurnedPerUse}}" 
                   min="0" 
                   placeholder="0" 
                   class="template-input-number-tiny" />
        </div>
    </div>
    {{/if}}
    
    <div class="template-field">
        <label>{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.PhysicalDescription'}}</label>
        <textarea name="system.backgroundsExpanded.{{index}}.templateData.description" 
                  placeholder="{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.PhysicalDescriptionPlaceholder'}}"
                  class="template-textarea">{{data.description}}</textarea>
    </div>
    
    <div class="template-field-row">
        <div class="template-field">
            <label>{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.SpheresRequired'}}</label>
            <textarea name="system.backgroundsExpanded.{{index}}.templateData.spheres" 
                      placeholder="{{#if data.paradoxType}}{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.SpheresRequiredPlaceholderWonder'}}{{else}}{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.SpheresRequiredPlaceholder'}}{{/if}}"
                      class="template-textarea">{{data.spheres}}</textarea>
        </div>
        
        <div class="template-field">
            {{#if data.paradoxType}}
            <!-- Wonder mode: Powers & Capabilities -->
            <label>{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.PowersCapabilities'}}</label>
            <textarea name="system.backgroundsExpanded.{{index}}.templateData.powers" 
                      placeholder="{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.PowersCapabilitiesPlaceholder'}}"
                      class="template-textarea">{{data.powers}}</textarea>
            {{else}}
            <!-- Device mode: Effects & Capabilities -->
            <label>{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.EffectsCapabilities'}}</label>
            <textarea name="system.backgroundsExpanded.{{index}}.templateData.effects" 
                      placeholder="{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.EffectsCapabilitiesPlaceholder'}}"
                      class="template-textarea">{{data.effects}}</textarea>
            {{/if}}
        </div>
    </div>
    
    {{#if data.paradoxType}}
    <!-- Wonder mode: Game Mechanics -->
    <div class="template-field">
        <label>{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.GameMechanics'}}</label>
        <textarea name="system.backgroundsExpanded.{{index}}.templateData.gameMechanics" 
                  placeholder="{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.GameMechanicsPlaceholderWonder'}}"
                  class="template-textarea-large">{{data.gameMechanics}}</textarea>
    </div>
    {{/if}}
</div>
