<!-- Familiar/Companion Background Template -->
<div class="bg-template familiar-template">
    <div class="template-field-row">
        <div class="template-field">
            <label>{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.FamiliarName'}}</label>
            <input type="text" 
                   name="system.backgroundsExpanded.{{index}}.templateData.name" 
                   value="{{data.name}}" 
                   placeholder="{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.FamiliarNamePlaceholder'}}" 
                   class="template-input" />
        </div>
        
        <div class="template-field">
            <label>{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.TypeSpecies'}}</label>
            <input type="text" 
                   name="system.backgroundsExpanded.{{index}}.templateData.species" 
                   value="{{data.species}}" 
                   placeholder="{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.TypeSpeciesPlaceholder'}}" 
                   class="template-input" />
        </div>
    </div>
    
    <div class="template-field-row">
        <div class="template-field">
            <label>{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.PhysicalDescription'}}</label>
            <textarea name="system.backgroundsExpanded.{{index}}.templateData.physicalDescription" 
                      placeholder="{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.PhysicalDescriptionPlaceholderFamiliar'}}"
                      class="template-textarea">{{data.physicalDescription}}</textarea>
        </div>
        
        <div class="template-field">
            <label>{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.SpecialAbilities'}}</label>
            <textarea name="system.backgroundsExpanded.{{index}}.templateData.abilities" 
                      placeholder="{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.SpecialAbilitiesPlaceholder'}}"
                      class="template-textarea">{{data.abilities}}</textarea>
        </div>
    </div>
    
    <div class="template-field-row">
        <div class="template-field-group">
            <label style="font-size: 0.7em; font-weight: bold;">{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.Attributes'}}</label>
            <div class="familiar-attributes">
                <div class="familiar-attr">
                    <label>{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.Phys'}}</label>
                    <input type="number" 
                           name="system.backgroundsExpanded.{{index}}.templateData.physical" 
                           value="{{data.physical}}" 
                           min="1" max="5" 
                           class="template-input-tiny" />
                </div>
                <div class="familiar-attr">
                    <label>{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.Soc'}}</label>
                    <input type="number" 
                           name="system.backgroundsExpanded.{{index}}.templateData.social" 
                           value="{{data.social}}" 
                           min="1" max="5" 
                           class="template-input-tiny" />
                </div>
                <div class="familiar-attr">
                    <label>{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.Ment'}}</label>
                    <input type="number" 
                           name="system.backgroundsExpanded.{{index}}.templateData.mental" 
                           value="{{data.mental}}" 
                           min="1" max="5" 
                           class="template-input-tiny" />
                </div>
            </div>
        </div>
        
        <div class="template-field">
            <label>{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.BondStrength'}}</label>
            <div class="dot-container" data-bg-familiar-bond="{{index}}">
                {{#times 5}}
                <div class="dot {{#if (lt @index ../data.bondStrength)}}filled{{/if}}" data-index="{{@index}}"></div>
                {{/times}}
                <input type="hidden" name="system.backgroundsExpanded.{{index}}.templateData.bondStrength" value="{{data.bondStrength}}" class="dot-input"/>
            </div>
        </div>
    </div>
    
    <div class="template-field">
        <label>{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.PersonalityNotes'}}</label>
        <textarea name="system.backgroundsExpanded.{{index}}.templateData.personality" 
                  placeholder="{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.PersonalityNotesPlaceholder'}}"
                  class="template-textarea">{{data.personality}}</textarea>
    </div>
</div>
