<!-- Sanctum/Lab Background Template -->
<div class="bg-template sanctum-template">
    <div class="template-field">
        <label>{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.Location'}}</label>
        <input type="text" 
               name="system.backgroundsExpanded.{{index}}.templateData.location" 
               value="{{data.location}}" 
               placeholder="{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.LocationSanctumPlaceholder'}}" 
               class="template-input" />
    </div>
    
    <div class="template-field-row">
        <div class="template-field">
            <label>{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.Size'}}</label>
            <input type="number" 
                   name="system.backgroundsExpanded.{{index}}.templateData.size" 
                   value="{{data.size}}" 
                   placeholder="0" 
                   class="template-input-number" />
        </div>
        
        <div class="template-field">
            <label>{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.SecurityLevel'}}</label>
            <input type="number" 
                   name="system.backgroundsExpanded.{{index}}.templateData.securityLevel" 
                   value="{{data.securityLevel}}" 
                   min="1" 
                   max="10" 
                   placeholder="5" 
                   class="template-input-number" />
        </div>
    </div>
    
    <div class="template-field-row">
        <div class="template-field">
            <label>{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.WardsDefenses'}}</label>
            <textarea name="system.backgroundsExpanded.{{index}}.templateData.wardsDefenses" 
                      placeholder="{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.WardsDefensesPlaceholder'}}"
                      class="template-textarea">{{data.wardsDefenses}}</textarea>
        </div>
        
        <div class="template-field">
            <label>{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.ResourcesAvailable'}}</label>
            <textarea name="system.backgroundsExpanded.{{index}}.templateData.resourcesAvailable" 
                      placeholder="{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.ResourcesAvailablePlaceholder'}}"
                      class="template-textarea">{{data.resourcesAvailable}}</textarea>
        </div>
    </div>
    
    <div class="template-field">
        <label>{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.RoomsLayout'}}</label>
        <textarea name="system.backgroundsExpanded.{{index}}.templateData.rooms" 
                  placeholder="{{i18n 'WODSYSTEM.CharacterSheet.BackgroundsExpanded.Fields.RoomsLayoutPlaceholder'}}"
                  class="template-textarea">{{data.rooms}}</textarea>
    </div>
</div>
