<!-- Sanctum/Lab Background Template -->
<div class="bg-template sanctum-template">
    <div class="template-field">
        <label>Location</label>
        <input type="text" 
               name="system.backgroundsExpanded.{{index}}.templateData.location" 
               value="{{data.location}}" 
               placeholder="Where is your sanctum located?" 
               class="template-input" />
    </div>
    
    <div class="template-field-row">
        <div class="template-field">
            <label>Size (sq ft)</label>
            <input type="number" 
                   name="system.backgroundsExpanded.{{index}}.templateData.size" 
                   value="{{data.size}}" 
                   placeholder="0" 
                   class="template-input-number" />
        </div>
        
        <div class="template-field">
            <label>Security Level (1-10)</label>
            <input type="number" 
                   name="system.backgroundsExpanded.{{index}}.templateData.securityLevel" 
                   value="{{data.securityLevel}}" 
                   min="1" 
                   max="10" 
                   placeholder="5" 
                   class="template-input-number" />
        </div>
    </div>
    
    <div class="template-field-row">
        <div class="template-field">
            <label>Wards & Defenses</label>
            <textarea name="system.backgroundsExpanded.{{index}}.templateData.wardsDefenses" 
                      placeholder="Protective measures, security"
                      class="template-textarea">{{data.wardsDefenses}}</textarea>
        </div>
        
        <div class="template-field">
            <label>Resources Available</label>
            <textarea name="system.backgroundsExpanded.{{index}}.templateData.resourcesAvailable" 
                      placeholder="Equipment, tools, materials"
                      class="template-textarea">{{data.resourcesAvailable}}</textarea>
        </div>
    </div>
    
    <div class="template-field">
        <label>Rooms & Layout</label>
        <textarea name="system.backgroundsExpanded.{{index}}.templateData.rooms" 
                  placeholder="List rooms, their purposes, and special features"
                  class="template-textarea">{{data.rooms}}</textarea>
    </div>
</div>

