<!-- Wonder Background Template -->
<div class="bg-template wonder-template">
    <div class="template-field">
        <label>Wonder Name</label>
        <input type="text" 
               name="system.backgroundsExpanded.{{index}}.templateData.name" 
               value="{{data.name}}" 
               placeholder="Name of the Wonder" 
               class="template-input" />
    </div>
    
    <div class="template-field-row-thirds">
        <div class="template-field">
            <label>Arete</label>
            <input type="number" 
                   name="system.backgroundsExpanded.{{index}}.templateData.arete" 
                   value="{{data.arete}}" 
                   min="0" 
                   max="10" 
                   placeholder="0" 
                   class="template-input-number-tiny" />
        </div>
        
        <div class="template-field">
            <label>Paradox Type</label>
            <select name="system.backgroundsExpanded.{{index}}.templateData.paradoxType" 
                    class="template-select">
                <option value="none" {{#eq data.paradoxType "none"}}selected{{/eq}}>None</option>
                <option value="permanent" {{#eq data.paradoxType "permanent"}}selected{{/eq}}>Permanent</option>
                <option value="perUse" {{#eq data.paradoxType "perUse"}}selected{{/eq}}>Per Use</option>
            </select>
        </div>
        
        <div class="template-field">
            <label>Paradox Value</label>
            <input type="number" 
                   name="system.backgroundsExpanded.{{index}}.templateData.paradoxValue" 
                   value="{{data.paradoxValue}}" 
                   min="0" 
                   placeholder="0" 
                   class="template-input-number-tiny" />
        </div>
    </div>
    
    <div class="template-field-row">
        <div class="template-field">
            <label>Quintessence Storage</label>
            <input type="number" 
                   name="system.backgroundsExpanded.{{index}}.templateData.quintessenceStorage" 
                   value="{{data.quintessenceStorage}}" 
                   min="0" 
                   placeholder="0" 
                   class="template-input-number-tiny" />
        </div>
        
        <div class="template-field">
            <label>Quintessence Per Use</label>
            <input type="number" 
                   name="system.backgroundsExpanded.{{index}}.templateData.quintessenceBurnedPerUse" 
                   value="{{data.quintessenceBurnedPerUse}}" 
                   min="0" 
                   placeholder="0" 
                   class="template-input-number-tiny" />
        </div>
    </div>
    
    <div class="template-field">
        <label>Physical Description</label>
        <textarea name="system.backgroundsExpanded.{{index}}.templateData.description" 
                  placeholder="Physical description and appearance of the Wonder"
                  class="template-textarea">{{data.description}}</textarea>
    </div>
    
    <div class="template-field-row">
        <div class="template-field">
            <label>Spheres Required</label>
            <textarea name="system.backgroundsExpanded.{{index}}.templateData.spheres" 
                      placeholder="e.g., Prime 5, Forces 3, Matter 2"
                      class="template-textarea">{{data.spheres}}</textarea>
        </div>
        
        <div class="template-field">
            <label>Powers & Capabilities</label>
            <textarea name="system.backgroundsExpanded.{{index}}.templateData.powers" 
                      placeholder="Magical powers and capabilities"
                      class="template-textarea">{{data.powers}}</textarea>
        </div>
    </div>
    
    <div class="template-field">
        <label>Game Mechanics</label>
        <textarea name="system.backgroundsExpanded.{{index}}.templateData.gameMechanics" 
                  placeholder="Specific game mechanics, rules, and effects (dice pools, difficulties, durations, etc.)"
                  class="template-textarea-large">{{data.gameMechanics}}</textarea>
    </div>
</div>
